.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
}

.header-container .comheaders, .results-container .ComMatches{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.comheaders .header,.ComMatches .name, .ComMatches .founded, .ComMatches .total, .ComMatches .number{
  flex: 1 1 25%;
}

.header-container .vcheaders, .results-container .VCMatches{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.vcheaders .header,.VCMatches .name, .VCMatches .founded, .VCMatches .total, .VCMatches .number{
  flex: 1 1 25%;
}