.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
}

.header-container .headers, .results-container .investmentYears {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.investmentYears .year, .investmentYears .amount, .headers .header {
  flex: 1 0 25%;
}