.header-container, .results-container {
    display: flex;
    flex-flow: column wrap;
  }
  
  .header-container .headers, .results-container .MostInvestedStartupsRow {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 40px;
  }
  
  .MostInvestedStartupsRow .name, .MostInvestedStartupsRow .amount, .headers .header {
    flex: 1 0 25%;
  }