.header-container, .results-container {
    display: flex;
    flex-flow: column wrap;
  }
  
  .header-container .headers, .results-container .MostFundedPersonRow {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 40px;
  }
  
  .MostFundedPersonRow .person_name, .MostFundedPersonRow .total, .headers .header {
    flex: 1 0 25%;
  }