.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
}

.header-container .headers, .results-container .recentInvestments {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.recentInvestments .year, .recentInvestments .number, .headers .header {
  flex: 1 0 25%;
}