.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
}

.header-container .headers, .results-container .VCMatches{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.headers .header, .VCMatches .name, .VCMatches .founded, .VCMatches .total, .VCMatches .number, .VCMatches .industry{
  flex: 1 1 25%;
}

.header-container .headers, .results-container .ComMatches{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.headers .header,.ComMatches .name, .ComMatches .founded, .ComMatches .industry, .ComMatches .total, .ComMatches .number{
  flex: 1 1 25%;
}

.header-container .headers, .results-container .IndMatches{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.headers .header,.IndMatches .name, .IndMatches .total, .IndMatches .number{
  flex: 1 1 25%;
}

mode-container {
  display: flex;
  flex-flow: column wrap;
  width: 300px;
}