.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
}

.header-container .headers, .results-container .VCInvestments{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.headers .header,.VCInvestments .name, .VCInvestments .industry, .VCInvestments .round, .VCInvestments .amount, .VCInvestments .date{
  flex: 1 1 25%;
}